<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='jquery.fileTree/jqueryFileTree.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div id="fileTree" class="tree"></div>
    <div class="main">
        <div id="example" class="monitor"></div>
        <div id="editor" class="codePanel"></div>
    </div>
    <script type="text/javascript" src='jquery.fileTree/jquery.js'></script>
    <script type="text/javascript" src='jquery.fileTree/jquery.easing.js'></script>
    <script type="text/javascript" src='jquery.fileTree/jqueryFileTree.js'></script>

    <script type="text/javascript">
        $(document).ready( function() {
            $('#fileTree').fileTree({ root: '/Users/shupengfei/git/phaser-examples/' ,script: 'dir' }, function(file) {
                alert(file);
            });
        });
    </script>
  </body>
</html>
